.App{
  height: 120vh;
  background-image: url("./imgs/background1.jpg");
}
 

.home {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;

}
p, h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home p{
  font-size:larg;
  font-weight:700;
}

.home p1{
  font-size: 16px;
  margin: 15px 0;
  max-width: 520px;
  letter-spacing: 2px;
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.color{
  color: rgb(212, 124, 212);
  font-weight:bold;
}
.in{
  color: rgb(0,118,179);
}
.html{
  color: rgb(221,75,37);
}
.css{
  color: rgb(37,75,223);
}
.js{
  color: rgb(232,212,77);
}
.react{
  color:rgb(94,211,243) ;
}
.tech {
  color:black ;
  font-weight: 600;

}
.stack, .socials{
  font-size:x-large ;
  
}
.hub{
  color: black;
}
.hub:hover {
  color: rgb(226, 142, 226);
}
.in:hover {
  color: rgb(226, 142, 226);
  cursor: pointer;
}
.footer{
  background-color:rgb(244,197,184);

}
.icons{
  font-size: small;
  color:rgb(227, 121, 241);
}
.icons:hover{
  font-size: medium;
    color:rgb(216, 76, 235);
}
.no{
  color: black;
  font-size: small;
}
.name{
  font-size:large;
  font-weight: bolder;
}

